/**styling rules for text**/
h1 {
  color: palevioletred;
  font-weight: bold;
  font-style: italic;
  text-shadow: rgb(241, 117, 194);
}

h2 {
  color: rgb(232, 122, 190);
  font-size: 30px;
}

h3 {
  color: rgb(232, 122, 190);
  font-size: 40px;
  
}

p {
  font-size: 18px;
}


/**styling rules for the contents of the navigation bar**/
.navbar {
  list-style-type: none;
  padding: 0;
  overflow: visible;
  float: left;
  display: inline;
  padding: 8px;
  background-color: #e5d2e5;
  margin: 0;

}

.navbar {
  position: sticky;
  top: 0;
  align-items: flex-end;
  width: 100%;
  vertical-align: top;

}

/**logo in nav bar styling**/
.logo {
  object-fit: scale-down;
  float: right;
  height: 46.4px;
  width: 60px;
  margin: 1% 0 0 0;
  padding: 0;
  vertical-align: top;
  border: 0;
}


a {
  display: block;
  color: rgb(218, 54, 108);
  font-weight: bold;
  margin-top: 1%;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: right;
}

/**when you hover on the nav bar it is highlighted with a dusty pink color**/
a:hover {
  background-color: rgb(235, 121, 174);
}



/**Style rules for introduction box**/
.intro {
  margin-top: 10%;
  margin-left: 15%;
  margin-bottom: 10%;
  padding: 0 5% 3% 5%;
  width: 50%;
  height: 30%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 3px solid rgb(241, 117, 194);
  border-top: 30px solid rgb(241, 117, 194);
  border-radius: 10px;
  background-color: beige;

}

/**Styling rules for the images**/
img {
  margin-top: 6%;
  margin-right: 5%;
  border: 5px solid rgb(252, 137, 210);
}

.image {
  flex-basis: auto;
  max-width: 30%;
}



/**styling rules for introduction box text**/
.text {
  margin-top: 1%;
  max-width: 40%;
  font-size: 10px;
  padding-left: 20px;
}



/**styling rules for gallery section**/
.gallery {
  margin-top: 2%;
  margin-left: 20%;
  margin-bottom: 10%;
  width: 50%;
  height: 30%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 3px solid rgb(241, 117, 194);
  border-top: 30px solid rgb(241, 117, 194);
  border-radius: 10px;
  background-color: beige;
}

.resume{
    align-items: center;
    margin-left: 40%;
}


/**stlying rules for dropdown menu**/
.dropbutton {
  border: hidden;
  padding: 0;
  margin: 0;
  background-color: transparent;
  margin-top: 1%;
  padding: 14px 16px;
  padding-bottom: 0%;
  font: inherit;
}

.dropdown {
  float: right;
  z-index: 1;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  background-color: rgb(229, 210, 229);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  float: none;
  color: rgb(218, 54, 108);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #eb79ae;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/**styling for the form**/
form {
  border: 3px solid #ffaed7;
  border-top: 30px solid #ffaed7;
  background-color: #ffeeee;
  width: fit-content;
  padding: 0 1% 2% 1%;
  margin: auto;
}

h2 {
  text-align: center;
}

.formimage {
  border: none;
  width: 100px;
  height: 100px;
}

.contactme {
  margin: 2%;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Implements what the slider looks like */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

/* This implements what the slider looks like before it is clicked*/
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(247, 196, 216);
  -webkit-transition: .4s;
  transition: .4s;
}

/*Changes the background of the slider when it is clicked*/
input:checked + .slider {
  background-color: #f59ec9;
}

/*Changes the color of the circle when it is clicked*/
input:focus + .slider {
  box-shadow: 0 0 1px #e07196;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

